
<div class="container">
    <h1> Search for an artist</h1>
    <form id="search-form" method="get" action="/search">
        <input type = "text" id="artist" name="artist"  class ="form-css" placeholder ="Artist Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search"/>
    </form>

</div> <!-- /container -->
