
<div class="container">
    <div class="list-group">
        {{#each artists.items}}

           <a href="{{{href}}}" class="list-group-item">{{name}}</a>

        {{/each}}
    </div>

</div> <!-- /container -->
